In [1]:
from datascience import *
import numpy as np

In [4]:
trees = Table().with_columns("year", make_array(1980, 1829, 2000),
                            "wood density", make_array(0.813, 0.529, 0.601),
                            "burned", make_array("no", "yes", 'no'),
                            "type", make_array("oak", 'redwood', 'pine'),
                            "height", make_array(23, 127.47, 5.2))
trees

year | wood density | burned | type    | height
1980 | 0.813        | no     | oak     | 23
1829 | 0.529        | yes    | redwood | 127.47
2000 | 0.601        | no     | pine    | 5.2

# Question 4 Adapted from Fall 2019 Midterm

Update the table `trees` with an added column named Growth Speed that contains the average growth speed of the tree in meters per year. For example, if a tree was planted in 1999 (twenty-two years ago) and is 22 meters tall, its growth speed is 22/(2021-1999) = 1 meters/year.

Here is the starter code provided by the question:

In [ ]:
def compute_speed(...):
    return ...

growth_speeds = trees…
trees.with_column(...)

# Method 1: Applying a function on columns 

We want the growth speed for every tree in our table, so we will need to apply the function to the table. The tbl.apply(...) takes a function and column(s) as input. The number of columns you input depends on the number of inputs needed for your function. In this case, we have a function compute_speed, which has 2 inputs, height & year, so we need to provide 2 columns.

In [49]:
# define the compute_speed function with array arguments
def compute_speed(height, year):
    return height / (2021 - year)

# apply the function on the two columns in our table
growth_speeds = trees.apply(compute_speed, "height", "year")

# add the array of growth_speeds to the table
trees.with_column("Growth Speed", growth_speeds)

year | wood density | burned | type    | height | Growth Speed
1980 | 0.813        | no     | oak     | 23     | 0.560976
1829 | 0.529        | yes    | redwood | 127.47 | 0.663906
2000 | 0.601        | no     | pine    | 5.2    | 0.247619

# Method 2: Applying a function on rows

This method uses row objects. Row objects are similar to arrays, but hold all of our information from a row in a table.

In [41]:
# Returns the first row from the trees table
first_row = trees.row(0)
first_row

Row(year=1980, wood density=0.813, burned='no', type='oak', height=23.0)

In [32]:
# We can index into the row object by index
first_row.item(0)

1980

In [33]:
# Or, we can index into the row object by column name
first_row.item('year')

1980

We want the growth speed for every row in our table, so we will need to apply the function to the table. A nice feature of tbl.apply(...) is that if you only provide a function and do not specify columns, then it will take in the whole row as input to the function. In this case, we can use the compute_speed function and take in a whole row from the trees table.

In [43]:
# define the compute_speed function with a single row as input
def compute_speed(row):
    return row.item("height") / (2021 - row.item("year"))

# apply the function on each row in the table
growth_speeds = trees.apply(compute_speed)

# add the array of growth_speeds to the table
trees.with_column("Growth Speed", growth_speeds)

year | wood density | burned | type    | height | Growth Speed
1980 | 0.813        | no     | oak     | 23     | 0.560976
1829 | 0.529        | yes    | redwood | 127.47 | 0.663906
2000 | 0.601        | no     | pine    | 5.2    | 0.247619

# Method 3: For Loops

In [57]:
# compute_speed function from method 1
def compute_speed(height, year):
    return height / (2021 - year)

# Storage array
speeds_array = make_array()

for i in np.arange(trees.num_rows):
    tree_height = compute_speed(trees.column("height").item(i), trees.column("year").item(i))
    speeds_array = np.append(speeds_array, tree_height) 


# add the array as a new column to trees and then save it to the name “trees”
trees.with_column("growth speed", speeds_array)

year | wood density | burned | type    | height | growth speed
1980 | 0.813        | no     | oak     | 23     | 0.560976
1829 | 0.529        | yes    | redwood | 127.47 | 0.663906
2000 | 0.601        | no     | pine    | 5.2    | 0.247619